body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 10;
}

#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}

#lock {
  margin-top: 5px;
  color: yellow;
}
